<%= form_with model: @child, local: true do |f| %>
  <% if @child.errors.any? %>
    <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label :birthday, '誕生日' %>
    <%= f.date_field :birthday, required: true %>
  </div>

  <div>
    <%= f.label :gender, '性別' %>
    <%= f.select :gender,Child.genders.keys.map { |g| [t("activerecord.attributes.child.genders.#{g}"), g] }, { include_blank: '選択してください' }, required: true %>
  </div>

  <div>
    <%= f.label :allergy_info, 'アレルギー' %>
    <%= f.text_field :allergy_info %>
  </div>

  <div>
    <%= f.label :blood_type, '血液型' %>
    <%= f.select :blood_type, [['A'], ['B'], ['O'], ['AB'], ['わからない']], { include_blank: '選択してください'} %>
  </div>

  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>