<div class="password-reset-container">
  <div class="form-header">
    <h2 class="form-header-text">パスワードを変更する</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <div class="form-text-wrap">
        <%= f.label :password, "新しいパスワード", class: "form-text" %><br />
        <% if @minimum_password_length %>
          <span class="info-text">（<%= @minimum_password_length %>文字以上）</span><br />
        <% end %>
      </div>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "新しいパスワード", class: "input-default" %>
    </div>

    <div class="form-group">
      <div class="form-text-wrap">
        <%= f.label :password_confirmation, "新しいパスワード（確認）", class: "form-text" %><br />
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用パスワード", class: "input-default" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードを変更する", class: "btn btn-primary btn-fixed-width" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
