<div class="password-reset-container">
  <div class="form-header">
    <h2 class="form-header-text">パスワードを忘れた場合</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <div class="form-text-wrap">
        <%= f.label :email, "メールアドレス", class: "form-text" %><br />
        <span class="indispensable">必須</span>
      </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", class: "input-default" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワード再設定メールを送る", class: "btn btn-primary btn-fixed-width" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
