<%= form_with model: [@child, @record], local: true do |f| %>
  <div>
    <%= f.label :content, "文章" %><br>
    <%= f.text_area :content, rows: 3 %>
  </div>

  <div>
    <%= f.label :image, "写真を選択" %><br>
    <%= f.file_field :image, accept: 'image/jpeg,image/png,image/gif', capture: 'environment' %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>