<%= form_with model: [@child, @record], local: true, html: { multipart: true, class: 'record-form' } do |f| %>
  
  <%= render 'shared/error_messages', model: @record %>

  <div class="form-group">
    <%= f.label :content, "新しいきろく", class: 'form-label' %><br>
    <%= f.text_area :content, rows: 3, class: 'form-textarea' %>
  </div>

  <div class="form-group tad-input-wrapper">
    <label for="tag-search">タグを追加</label>
    <input type="text" id="tag-search" autocomplete="off" placeholder="タグ名を入力してね">
    <div id="tag-suggestions" class="suggestions-list"></div>

    <div id="selected-tags" class="record-tags">
      <% @record.tags.each do |tag| %>
        <span class="tag-item">
          #<%= tag.name %>
          <button type="button" class="tag-remove-button">×</button>
        </span>
        <input type="hidden" name="record[tag_ids][]" value="<%= tag.id %>">
      <% end %>
    </div>
  </div>

  <div id="existing-images" class="existing-images-container">
    <% if @record.images.attached? %>
      <% @record.images.each_with_index do |attachment, index| %>
        <div class="existing-attachment" data-index="<%= index %>">
          <%= image_tag url_for(attachment), class: 'existing-image-thumb' %>
          <button type="button" class="small-close-button" data-blob-id="<%= attachment.blob_id %>">✖</button>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="image_inputs_container" class="image-input-container">
    <button type="button" id="add_image_input_button" class="btn btn-primary">画像を追加する</button>
  </div>

  <div id="previews" class="image-previews"></div>
  
  <div class="submit-container">
    <%= link_to "戻る", child_records_path(@child), class: "btn btn-secondary" %>
    <%= f.submit "投稿する", class: 'btn btn-primary'%>
  </div>

<% end %>