<h2><%= @child.name %>の記録一覧</h2>

<% @records.each do |record| %>
  <div>
    <%if record.images.attached? %>
      <% record.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
      <% end %>
    <% end %>
    <% if record.content.present? %>
      <p><%= record.content %></p>
    <% end %>

    <p>投稿日: <%= record.created_at.strftime("%Y/%m/%d %H:%M") %></p>

    <div>
      <%= link_to "編集", edit_child_record_path(@child, record), class: "btn btn-primary" %>
      <%= link_to "削除", child_record_path(@child, record), data: { turbo_method: :delete }, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<%= link_to "新しい記録を投稿", new_child_record_path(@child) %>