<h1 class="vaccination-records__title"><%= @current_child.name %>の予防接種きろく</h1>

<%= form_with url: create_or_update_child_vaccination_records_path(@current_child), method: :post, local: true, class: "vaccination-records__form" do |form| %>
  <% @vaccines.each do |vaccine| %>
    <% doses_for_vaccine = @vaccination_records.select { |r| r.vaccine_id == vaccine.id } %>
    <% max_doses = [vaccine.recommended_doses, doses_for_vaccine.size].max %>

    <div class="vaccination-records__vaccine-card">
      <div class="vaccination-records__vaccine-header">
        <%= vaccine.name %>
      </div>

      <% max_doses.times do |i| %>
        <div class="vaccination-records__dose-info">
          <div class="vaccination-records__dose-left">
            <%= "#{i + 1}回目" %>（<%= vaccine.dose_months&.[](i) || '任意時期' %>か月）
          </div>

          <div class="vaccination-records__dose-right">
            <%= form.fields_for "records[]", doses_for_vaccine[i] || VaccinationRecord.new(vaccine: vaccine) do |rf| %>
              <%= rf.date_field :vaccinated_at, value: doses_for_vaccine[i]&.vaccinated_at&.strftime('%Y-%m-%d'), class: "vaccination-records__input" %>
            <% end %>
          </div>
        </div>

        <div class="vaccination-records__sub-info">
          <%= form.text_field "records[][hospital_name]", value: doses_for_vaccine[i]&.hospital_name, placeholder: "病院名" %>
          <%= form.text_field "records[][memo]", value: doses_for_vaccine[i]&.memo, placeholder: "メモ" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form.submit '保存', class: "btn-primary" %>
<% end %>